<div class="container">
    <p>
       Este proyecto de gestion países hispanohablantes nació como práctico final de la Diplomatura en Diseño Web Full Stack con JavaScript de l Nodo Tecnologico de Catamarca.

        En el frontend, HTML, CSS y EJS dan forma a una interfaz sencilla y funcional, donde los formularios interactivos muestran errores al instante y se confirman acciones críticas antes de realizarlas. En el backend, Node.js y Express manejan las rutas y la lógica de la aplicación, mientras que MongoDB almacena los datos de manera organizada y escalable.

        Entre las funcionalidades más destacadas se incluyen: listado completo de países, búsqueda por atributos, manejo de datos complejos como capitales y fronteras, y validaciones que aseguran la consistencia de la información.

        Este proyecto combina un backend sólido con un frontend accesible, creando una base confiable para seguir desarrollando y ampliando funcionalidades en el futuro. 
    </p>
    <a href="/paises" class="button cancelar">Volver</a>
</div>