<div class="container">
  <h1>¡Bienvenido al Gestor de Países Hispanohablantes!</h1>
  <p>Consulta información de todos los países, capitales, población y más.</p>

  <a href="/paises" class="btn">Ver tabla de países</a>
</div>
