<div class="container">
  <%- include('partials/modalPais', { pais }) %>
  <div class="acciones-detalle">
    <a href="/paises" class="button cancelar">Volver</a>
    <a href="/paises/editar/<%= pais._id %>" class="button">Editar</a>
  </div>
</div>