<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Países Hispanohablantes</title>
  <meta name="description" content="Aplicación web para gestionar información sobre países hispanohablantes." />
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!-- Navbar -->
    <%- include ('partials/navbar')%>
    
    <!-- Contenido dinamico -->
    <main>
      <%- body %>
    </main>
    
    <!-- Footer -->
    <%- include ('partials/footer')%>
    
</body>
</html>